header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.brand {
  align-items: center;
  display: flex;
  width: auto;
  color: #6610f2;
}

.brand img {
  height: 3rem;
  margin: 0 1.25rem 0 0;
  width: auto;
  padding: 0;
}

.brand h1 {
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 1rem;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
}

.nav-bar {
  list-style: none;
  display: flex;
  color: #6610f2;
}

.nav-item {
  padding-left: 50px;
  color: #6610f2;
  font-size: 20px;
}

.footer {
  margin-top: 200px;
  height: 300px;
}
.footer-image {
  width: 1200px;
}
